<div class="container">

    <div class="col-12">
        <div class="">
            <button type="button" (click)="addNewUser()">Add user</button>
        </div>
        <div class="col-12">
            <h1>All Users</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Avatar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; index as i;">
                        <th scope="row">{{ i }}</th>
                        <td><a routerLink="/users/{{ user.id }}">{{ user.name }}</a></td>
                        <td>{{ user.email }}</td>
                        <td>
                            <img src="{{ user.image }}" width="50" height="50" alt="">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="alert alert-info">
        <router-outlet></router-outlet>
    </div>
</div>