<h1>Blog</h1>

<div class="container">
    <div class="row" *ngIf="isActive">

        <div class="col-4 mb-4" *ngFor="let article of articles; index as i">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" appHighlight>{{article.title}}</h5>
                    <p class="card-text" *ngIf="!article.readmore">{{article.content | word }}</p>
                    <p class="card-text" *ngIf="article.readmore">{{article.content }}</p>
                    <a
                        href="{{article.id}}"
                        class="btn"
                        [ngClass]="article.readmore ? 'btn-success' : 'btn-danger'"
                        (click)="readMore($event, i)"
                    >Read more</a>
                </div>
            </div>
        </div>

    </div>
</div>


<router-outlet></router-outlet>
